log/*.log
log/*.lck
tmp/**/*
doc/api
doc/app
db/*.sqlite3
.DS_Store
public/system
solr
rerun.txt
tmp/restart.txt
tmp/sprockets.js
public/javascripts/all.js
public/stylesheets/all.css
.bundle
*.tar.gz
.rake_tasks~
*.un~
*.rbc
